* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  font-family: 'AvenirLTStd';
}

body {
  margin: 0%;
  font-family: 'AvenirLTStd';
}

@font-face {
  font-family: 'AvenirLTStd';
  src: url('./font/AvenirLTStd-Black.otf');
  src: url('./font/AvenirLTStd-Book.otf');
  src: url('./font/AvenirLTStd-Roman.otf');
}

header {
  width: 100%;
  height: 50vh;
  background: url(./images/Awards_Header.png) no-repeat center/cover;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
  margin: auto;
  flex-wrap: wrap;

}

.navbar-brand img {
  width: 100%;
  max-width: 250px;

}

.nav-font-size {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

.registration-btn {
  background-color: #00534D;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  transition: all .8s;
  border-radius: 5px;
  border: none !important;
}

.registration-btn:hover {
  color: #F9FFFF;
  text-decoration: none;
  background-color: #7F6247;
}

.navbar-nav li a {
  color: white;
}

.nav-active {
  background-color: #162C24;
  color: white !important;
}


/* header content */

.spotlight {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight h1 {
  text-align: center;
  padding: 10px;
}

.small-header {
  color: #B29985;
}

/* section1 */
/* form-section */
.form-section {
  padding: 70px 0px;
}

.form-section h1{
  font-size: 38px;
  font-weight: 900;
}

/* footer */
.footer-section {
  position: relative;
  background: url(./images/x_footer.svg) no-repeat left;
  background-color: #0c0c0c;
  background-blend-mode: soft-light;
  color: white;

}

.footer-section .container {
  padding: 50px 0px 30px;
}

.footer-section .footer-logo {
  width: 100%;
  max-width: 270px;
}

.footer-section .social-media i {
  color: white;
}

.footer-section .privacy-policy a {
  text-decoration: none;
  color: white;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px grey;
  background-color: rgba(255, 255, 255, 0.627);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

/* media Query section */
@media (min-width:320px) and (max-width:428px) {
  .navigation {
    background-color: #0108398c;
  }

  .nav-container {
    margin-left: 0px !important;
  }

  header {
    width: 100%;
    height: 80vh;
  }

  .header-content h5 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 40px;
  }

  .header-content p {
    font-size: 1em;
    font-weight: 500;
  }

  .heading h1 {
    font-weight: 600;
    font-size: 32px;
  }

  .form-section h1 {
    font-size: 33px;
    font-weight: 800;
    padding: 0px 10px;
    text-align: center;
  }

  .form-section h4 {
    font-size: 20px;
    font-weight: 500;
    padding: 0px 10px;
    text-align: center;
  }

  form {
    padding: 0px 20px;
  }

  /* footer section */
  .footer-section .container {
    padding: 50px 0px 30px;
  }

  .footer-section .container .row {
    margin: auto !important;
  }

  .footer-section .footer-logo {
    margin-bottom: 2rem !important;
  }

  .footer-section .container .div2 p {
    margin-bottom: 1rem !important;
  }

  .footer-section .container .div3 p {
    margin-bottom: 1rem !important;
  }

  .footer-section .container .div3 {
    display: flex;
    justify-content: flex-start !important;
  }
}

@media(max-width:330px) {
  .navbar-brand img {
    width: 75%;
    max-width: 200px;
  }

  header {
    width: 100%;
    height: 80vh;
  }

  .header-content h5 {
    font-size: 1em;
    font-weight: 700;
    line-height: 30px;
  }

  .header-content p {
    font-size: .8em;
    font-weight: 500;
  }

  .heading h1 {
    font-weight: 600;
    font-size: 28px;
  }
}

@media(min-width:760px) and (max-width:885px) {
  .navigation {
    background-color: #0108398c;
  }

  .nav-container {
    margin-left: 0px !important;
  }

  header {
    width: 100%;
    height: 70vh;
  }

  #homepage-hero {
    padding-top: 30vh;
    color: white;
    text-align: center;
  }

  .header-content h5 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 40px;

  }

  .header-content p {
    font-size: 1em;
    font-weight: 500;

  }

  /* about section */
  .about-section p {
    text-align: justify;
  }

  /* footer section */

  .footer-section .container {
    padding: 50px 0px 10px;
  }

  .footer-section .footer-logo {
    margin-bottom: 3.5rem !important;
  }

  .footer-section .container .div2 p {
    margin-bottom: 2rem !important;
  }

  .footer-section .container .div3 p {
    margin-bottom: 2rem !important;
  }
}

@media(min-width:886px) and (max-width:1025px) {

  /* navbar */
  .nav-container {
    margin-left: 0px !important;
  }

  .nav-container .nav-item {
    padding: 0px 5px !important;
  }

  /* footer section */

  .footer-section .container {
    padding: 50px 0px 10px;
  }

  .footer-section .footer-logo {
    margin-bottom: 3.5rem !important;
  }

  .footer-section .container .div2 p {
    margin-bottom: 2rem !important;
  }

  .footer-section .container .div3 p {
    margin-bottom: 2rem !important;
  }

}